.checkout__form__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 30px;
}

.checkout__form h1{
    margin: 30px;
}

.checkout__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 10px;
}

.checkout__form label {
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

.checkout__form input {
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
    height: 40px;
}

.checkout__form button {
    margin-top: 50px;
    border-radius: 15px;
    height: 40px;
}